<app-divider [title]=" 'Table Component' "></app-divider>
<app-table [data]="data" [header]="header"></app-table>

<app-divider [title]=" 'Tab Menu' "></app-divider>
<app-tabs>
    <a class="item" 
        routerLink="/collections" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
    >Biography</a>
    <a class="item" routerLink="companies" routerLinkActive="active">Companies</a>
    <a class="item" routerLink="partners" routerLinkActive="active">Partners</a>
</app-tabs>