<app-divider [title]=" 'Modal Component' "></app-divider>

<button (click)="onClick()">Show Modal</button>

<app-modal (close)="onClick()" *ngIf="modalOpen">
    <div modalTitle>
        I am a reusable modal
    </div>
    <p>
        Some content
    </p>
    <ng-container modalFooter>
        <button class="ui button" (click)="onClick()">Close Me!</button>
    </ng-container>
</app-modal>

<app-divider [title]=" 'Accordion Component' "></app-divider>
<app-accordion [items]="items"></app-accordion>